@media screen and (max-width: 950px) {
   header{
    position: static;
    padding:10px 0px;
   }
    #mainNav{
    flex-direction: column;
    height: auto;
    order: 1;
    gap: 24px;
   } 
   #heroH1Div h1 {
  font-size: 50px; 
  }
   
   #mainNav #navLinks{
    order: 3;
    width: 100%;
   }
   #mainNav #navLinks ul{
    width: 100%;
    justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;

    gap:10px;
   }
      
    
  #mainNav #navBtn{
    order: 2;
    width: 100%;
    /* background-color: red; */
  }
  #mainNav #navBtn Button{
    width: 100%;
  }
  #heroMainBtn{
    flex-direction: column;
    width: 100%;
  }
  #heroMainBtn #btnOne{
    width: 100%;
  }
  #heroMainBtn #btnTwo{
    width: 100%;
  }
  #heroMainBtn  Button{
    width: 100%;
    padding: 20px 0px;
  }
  #cardContainer{
    gap: 40px;
  }
  .card{
    width: 100%;
    height: auto;
  }
  #cardBtnDiv{
    padding: 24px;
  }
  #numbering-main-div{
    flex-direction: column;
    gap: 50px;
  }
#tourPakages-main-div{
  /* flex-direction: row; */
  width: 100%;
} 
#tourPakages-card{
  width: auto;
  margin: 10px;
}
#tourPakages-card-main-div{
  /* width: 100%; */
  padding: 20px 10px;
  flex-direction: column;
  gap: 20px;
}
#capture-moment-images-break-One{
flex-direction: column;

}
#capture-moment-images-break-Two{
 flex-direction: column;
 

}
#header-larger-Screen{
  display: none !important;
}
#header-for-small-Screen{
  display: block !important;
}
#header-for-small-Screen-main-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}
.small-screen-nav-link{
  margin-top: 20px;
  width: auto;
  /* background-color: red; */
}
.small-screen-nav-link{
  /* border-top: 1px solid var(--primeryTextColorGray); */
}
.small-screen-nav-link ul {
  box-sizing: border-box;
  text-align: center;
  width: 100% !important;
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: space-ar;
  align-items: center;
  gap: 8px !important;
}
.small-screen-nav-link ul li {
width: 100% !important;
  list-style: none;
    /* background-color: var(--primeryTextColorBlue); */
} 
.small-screen-nav-link ul li:hover{
}
.small-screen-nav-link ul li a {
  width: 100%;
  text-decoration: none;
  font-weight: 550 !important;
  font-size: 18px !important;
border: none !important;

}
.small-screen-nav-link ul li a:hover {
text-decoration: none !important;
}
#subscrib-form-main-div{
  width: 95%;
  margin: 0px auto;
  padding: 0px 20px;

}
#subscrib-form-text p{
width: 100%;
}
#subscrib-form-input-btn-div{
  flex-direction: column;
  /* background-color: red; */
  width: 100%;
}
#subscrib-form-input-btn-div #subscrib-form-input{
  display: block !important;
  width: 100%;
}
#subscrib-form-input-btn-div #subscrib-form-input input{
      /* flex-direction: column !important; */
      display: block !important;
  width: 100%;
}
#subscrib-form-input-btn-div #subscrib-form-btn{
  width: 100%;
}
#subscrib-form-input-btn-div #subscrib-form-btn button{
  width: 100%;
}
#contact-section-main-div{
  flex-direction: column;
  height: auto !important;
}
#contact-section-main-div #contact-left-side{
  width: 100% !important;
  

}
#contact-section-main-div #contact-right-side{
  width: 100% !important;
    padding:20px !important;


}
#contact-right-side-input{
  display: block;
  width: 100% !important;
  
}
#contact-right-side-input input{
  width: 100% !important;
}
#text-aera-div {
  display: block;
  width: 100% !important;
}
#text-aera-div #text-aera{
  width: 100% !important;
    height: 146px;


}
#footer-mai-div{
  width: 100%;
  height: 100%;
padding-top: 20px;
}
#last-div-icon{
  right: 10%;
}
}


@media screen and (max-width: 500px) {
  #header-for-small-Screen-main-div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.header-for-small-Screen-btn{
  width: 100%;
}
.header-for-small-Screen-btn button{
  width: 100% !important;
  border-radius: 10px !important;
  /* background-color: red; */
   /* padding: 15px 24p.; */
}
#footer-mai-div{
  width: 100% !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}

.small-screen-nav-link ul li a {
 
  font-weight: 600 !important;
  font-size: 14px !important;


}
.small-screen-nav-link ul {

  gap: 5px !important;
}
}
@media screen and (max-width: 400px) {
.small-screen-nav-link ul {
  flex-wrap: wrap;
}}


