@media screen and (max-width: 950px) {
   header{
    /* flex-direction: column; */
    position: static;
    padding:10px 0px;
   }
    #mainNav{
    flex-direction: column;
    height: auto;
    order: 1;
    gap: 24px;
    /* background-color: skyblue; */
   } 
   
   #mainNav #navLinks{
    order: 3;
    width: 100%;
   }
   #mainNav #navLinks ul{
    width: 100%;
    justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;

    gap:10px;
   }
      
    
  #mainNav #navBtn{
    order: 2;
    width: 100%;
    /* background-color: red; */
  }
  #mainNav #navBtn Button{
    width: 100%;
  }
  #heroMainBtn{
    flex-direction: column;
    width: 100%;
  }
  #heroMainBtn #btnOne{
    width: 100%;
  }
  #heroMainBtn #btnTwo{
    width: 100%;
  }
  #heroMainBtn  Button{
    width: 100%;
    padding: 20px 0px;
  }
  #cardContainer{
    gap: 40px;
  }
  .card{
    width: 100%;
    height: auto;
  }
  #cardBtnDiv{
    padding: 24px;
  }
  #numbering-main-div{
    flex-direction: column;
    gap: 50px;
  }
#tourPakages-main-div{
  /* flex-direction: row; */
  width: 100%;
  background-color: aqua;
} 
#tourPakages-card{
  /* width: 100%; */
  background-color: red;
}
#tour-card-container{
width: 100%;
padding: 20px 0px;

flex-direction: column;
}
}