@font-face {
  font-family: "myFontRegular";
  src: url(../static/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family:"myFontExtraBold" ;
  src: url(../static/PlusJakartaSans-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "myFontRegular" ;

}
h1,h2,h3,h4,h5{
  font-family: "myFontExtraBold";
}
:root {
  --primeryTextColorGray: #3e4850;
  --primeryTextColorBlue: #006591;
  --primeryTextColorLightBlue: #0ea5e9;
  --primeryBtnColor: #684000;
  --primeryBtnBgColor: #fea619;
  --primeryBgColor: #f2f3ff;
  --primeyRadius: 10px;
  --borderColor:#BEC8D2;
}

img {
  width: 100%;
}
button {
  cursor: pointer;
}
.mainContainer {
  width: 90% !important;
  margin: 0 auto !important;
}
header {
  box-sizing: border-box;
  background-color: #faf8ff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
}
#mainNav {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}
#logo img {
  width: 150px;
}
#navLinks ul {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#navLinks ul li {
  list-style: none;
}
#navLinks ul li a {
  text-decoration: none;
  color: var(--primeryTextColorGray);
  font-weight: 550;
  font-size: 18px;
}
#navLinks ul li a:hover {
  color: var(--primeryTextColorBlue);
  border-bottom: 3px solid var(--primeryTextColorBlue);
}

#navBtn button {
  background-color: var(--primeryBtnBgColor);
  color: var(--primeryBtnColor);
  font-size: 18px;
  border-radius: 24px;
  border: none;
  padding: 15px 24px;
  font-weight: bold;
     transition:transform 0.5s ,box-shadow 0.3s;

}
#navBtn button:hover {
  background-color: var(--primeryBtnColor);
  color: var(--primeryBtnBgColor);
  transform: scale(1.05);
}
#navBtn button:active {
  color: var(--primeryBtnColor);
  background-color: var(--primeryBtnBgColor);
}
#heroSection {
  background-image: url("../avatar/heroBg.png");
  height: 920px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#heroSection {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
#heroTextMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 24px;
  /* flex-basis: 50%; */
  /* background-color: aqua; */
}
#heroH1Div h1 {
  font-size: 64px;
  font-weight: bolder;
  color: white;
}
#heroPDiv p {
  font-size: 18px;
  color: white;
}
#heroMainBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
#heroMainBtn #btnOne Button {
  background-color: var(--primeryTextColorLightBlue);
  color: #003751;
  font-size: 18px;
  border-radius: var(--primeyRadius);
  border: none;
  padding: 20px 30px;
  font-weight: bold;
}
#heroMainBtn #btnOne Button:hover {
  background-color: #232e2d;
  color: white;
   transition:transform 0.5s ease-in-out,box-shadow 0.3s;
  transform: scale(1.05);
}
#heroMainBtn #btnOne Button:active {
  background-color: var(--primeryTextColorLightBlue);
  color: #003751;
}
#heroMainBtn #btnTwo Button {
  background-color: #232e2d;
  color: white;
  font-size: 18px;
  border-radius: var(--primeyRadius);
  border: none;
  padding: 20px 30px;
  font-weight: bold;
}
#heroMainBtn #btnTwo Button:hover {
  background-color: var(--primeryTextColorLightBlue);
  color: #003751;
   transition:transform 0.5s ease-in-out,box-shadow 0.3s;
  transform: scale(1.05);
}
#heroMainBtn #btnTwo Button:active {
  background-color: #232e2d;
  color: white;
}
#cardSection {
  padding: 95px 0px;
}
#top-picks-div h5 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--primeryTextColorBlue);
}
#papular-destination-div h2 {
  font-size: 32px;
}
#mainCardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#cardHeader {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  /* background-color: aqua; */
  width: 100%;
}
.card {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
  flex-direction: column;
  gap: 24px;
  width: 380px;
  height: 480px;
  border-radius: 20px;
  /* background-color: gray; */
  overflow: auto;
    transition:transform 0.5s ease-in-out,box-shadow 0.3s;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card:hover {
  /* width: 100%; */
  z-index: 1;
  max-width: 400px;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
#cardImgDive {
  position: relative;
}
#cardImgDive img {
  width: 100%;
}

#cardImgDive #priceTag {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: white;
  color: var(--primeryTextColorBlue);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 15px;
}

#cardTextDiv {
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  padding: 0px 24px;
}

#cardTextDiv h3 {
  font-size: 24px;
  font-weight: bold;
}
#cardTextDiv p {
  /* width: 300px; */
  font-size: 16px;
  color: var(--primeryTextColorGray);
}
#cardBtnDiv {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0px 24px;
}
#cardBtnDiv button {
  width: 100%;
  color: var(--primeryTextColorLightBlue);
  font-size: 16px;
  background-color: transparent;
  font-weight: bolder;
  border-radius: var(--primeyRadius);
  border: none;
  border: 4px solid var(--primeryTextColorLightBlue);
  padding: 15px 24px;
  font-weight: bold;
}
#cardBtnDiv button:hover {
  background-color: var(--primeryTextColorLightBlue);
  color: white;
}
#cardBtnDiv button:active {
  color: var(--primeryTextColorLightBlue);
  background-color: white;
}

/* Card is Complete */
#why-chose-us-section {
  background-color: var(--primeryBgColor);
  padding: 95px 0px;
}
#why-chose-us-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
#why-chose-us-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#why-chose-us-card-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;
}
#why-chose-us-card {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 280px;
  gap: 24px;
  padding: 0px 20px;
  border-radius: 20px;
  background-color: white;
  height: 264px;
}
#why-chose-us-card-img {
  width: 64px;
}
#why-chose-us-card-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.5rem;
}
#why-chose-us-card-text h4 {
  font-weight: bold;
  font-size: 18px;
}
#why-chose-us-card-text p {
  font-size: 16px;
  color: var(--primeryTextColorGray);
}
/* numbering part*/
#numbering-section {
  background-color: var(--primeryTextColorBlue);
  color: white;
  padding: 95px 0px;
}
#numbering-main-div {
  box-sizing: border-box;
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}
#numbering-text {
  text-align: center;
}
#numbering-text h2 {
  font-size: 64px;
  font-weight: bolder;
}
#numbering-text p {
  font-weight: 500;
}
#tourPakages-section{
  background-color: #faf8ff;
}
#tourPakages-main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
    padding: 95px 0px;

}
#tourPakages-text-div{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
#tourPakages-text-div h2{
  font-size: 32px;
  font-weight: bold;
}
#tourPakages-text-div p{
  font-size: 16px;
  color: var(--primeryTextColorGray);
}
#tourPakages-card{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 380px;
  /* height: 440px; */
  border: 3px solid var(--borderColor);
  background-color: white;
  padding: 32px;
  border-radius: 24px;
    position: relative;

}
#tourPakages-icon-main-div{
  display: flex;
  margin-top: 10px;
  gap: 10px;
  
}
.cancel-para{
  color: #d7d7d7;
}
#tourPakagesTag {
  position: absolute;
  text-align: center;
  /* display: none; */
  left: 50%;
  top: -15px;
  transform: translateX(-50%);
  background-color: var(--primeryTextColorBlue);
  color: white;
  padding: 10px 20px;
  border-radius: 24px;
  font-family: 16px;
  font-weight: bold;
}

#tourPakages-icon-main-div span{
  color: green;
}
/* #tourPakages-card{
  display: flex;
  flex-direction: column;
  gap: 0px;
} */
#tourPakages-card-head{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#tourPakages-card-head h4{
  font-size: 24px;
}
#tourPakages-card-head h3 span{
  font-size: 16px;
  color: var(--primeryTextColorGray);
}
#tourPakages-card-head h3{
  font-size: 36px;
  color: var(--primeryTextColorBlue);
  font-weight: bolder;
}
#tourPakages-card-btn button{
  width: 100%;
  color: var(--primeryTextColorBlue);
  font-size: 16px;
  background-color: transparent;
  font-weight: bolder;
  border-radius: var(--primeyRadius);
  border: none;
  border: 4px solid var(--primeryTextColorBlue);
  padding: 15px 24px;
  font-weight: bold;
}

#tourPakages-card-btn button:hover{
 background-color: var(--primeryTextColorBlue);
  color: white;
}
#tourPakages-card-btn button:active{
 color: var(--primeryTextColorBlue);
  background-color: white;
}
#icons-main-div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0px;
}

#tourPakages-card-main-div{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
flex-wrap: wrap;
gap: 20px;
  width: 100%;
}
.centerCard{
  width: 100%;
    transition:transform 0.5s ease-in-out,box-shadow 0.3s;

}
.centerCard:hover{
  z-index: 1;
  /* max-width: 400px; */
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  background-color: #c1dbf0 !important;
}
#tourPakages-icon-text{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  min-width:200px;
}
#capture-moment-section{
  background-color: var(--primeryBgColor);
   padding: 95px 0px;
}
#capture-moment-main-div{
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

#capture-moment-images-main{
  display: flex;
  margin-top: 56px;
  flex-direction: column;
  width: 100%;
}
#capture-moment-images-break-One{
  display: flex;
  gap: 10px;

}
#capture-moment-images-break-Two{
  display: flex;
  gap: 24px;

}
#subscrib-form-section{
  padding: 95px 0px;
}
#subscrib-form-main-div{
  box-sizing: border-box;
  background-color: var(--primeryTextColorBlue);
  color: white ;
  width: 896px;
  /* height: 305px; */
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#subscrib-form-text{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 24px;
  margin: 50px 0px;

}
#subscrib-form-text h2{
  font-size: 32px;
  font-weight: bold;
}
#subscrib-form-text p{
  font-size: 16px;
  word-spacing: 0.2rem;
  width: 512px;
  
}
#subscrib-form-input-btn-div{
  box-sizing: border-box;
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* background-color: ; */
}
#subscrib-form-input-btn-div input{
  /* padding: 10px 30px; */
    all: unset;
  box-sizing: border-box;
  width: 289px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: white;
  
}
#subscrib-form-input-btn-div input:hover{
  background-color: rgb(211, 206, 206);
  color: black;
}

#subscrib-form-input-btn-div button {
  background-color: var(--primeryBtnBgColor);
  color: var(--primeryBtnColor);
  font-size: 16px !important;
  border-radius: 8px;
  border: none;
  padding: 8px 20px;
  font-weight: bold;
     transition:transform 0.5s ,box-shadow 0.3s;

}
#subscrib-form-input-btn-div button:hover {
  background-color: var(--primeryBtnColor);
  color: var(--primeryBtnBgColor);
  transform: scale(1.05);
}
#subscrib-form-input-btn-div button:active {
  color: var(--primeryBtnColor);
  background-color: var(--primeryBtnBgColor);
}
.contact-left-side-icon img{
  width: 48px;
}
#contact-section{
  /* padding: 0px 20px; */
    margin-bottom: 20px;

}
#contact-section-main-div{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 456px !important;
}
#contact-section-main-div #contact-left-side{
width: 554px;

}
#contact-left-side-text h2{
font-size: 32px;
margin-bottom: 32px;
}
#contact-left-side-text p{
  font-size: 16px;
  margin-bottom: 32px;
  color: var(--primeryTextColorGray);
}
.contact-icon-flex{
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  margin: 10px 0px;
  /* justify-content: center; */
  align-items: center;
}
.contact-left-side-text{
  margin: 10px 0px;
}
.contact-left-side-text h3{
  margin: 5px 0px ;
}
.contact-left-side-text p{
  color: var(--primeryTextColorGray);
}
#contact-section-main-div #contact-right-side{
      padding: 64px 48px !important;
      background-color: var(--primeryBgColor);
  box-sizing: border-box;
width: 554px;
  border-radius: 24px;

/* background-color: #0ea5e9; */
/* height: 100% !important; */

}
#contact-section-main-div #contact-right-side form{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 64px 48px !important; */
  /* height: 100% !important; */

}
#contact-right-side-input{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
#contact-right-side-input input{
  box-sizing: border-box !important;
  all: unset;
  background-color: white;
  border-radius: 10px;
  border: 2px solid var(--borderColor);
  width: 212px;
  padding: 10px 10px;
}
#text-aera-div{
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
  /* box-sizing: border-box; */
  margin: 24px 0px !important;
}
#text-aera-div #text-aera{
  box-sizing: border-box;
  padding-left: 10px !important;
  padding-top: 10px !important;
  width: 448px !important;
  all: unset;
   background-color: white;
  border-radius: 10px;
  border: 2px solid var(--borderColor);
  height: 146px;
    resize: none;

}
#form-btn-div{
  width: 100%;
}
#form-btn-div button{
  background-color: var(--primeryTextColorBlue);

  color: white;
  padding: 15px 0px;
  width: 100%;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}
#form-btn-div button:active{
  color: var(--primeryTextColorBlue);

  background-color: white;
  padding: 15px 0px;

}
#footer-mai-div{
margin-top: 90px !important;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#footer-logo{
  width: 270px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
#footer-logo img{
  width: 165px;
  margin-bottom: 10px;
}
.footer-icon-img img{
  width: 40px !important;
    margin-top: 10px !important;

}

.footer-link-div ul li{
  list-style: none ;
  margin-bottom: 10px;
}
.footer-link-heading{
  font-size: 18px;
  font-weight: bold;
}